<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="max-width: 400px; width: 100%;">
      <h2 class="text-center mb-4">Bejelentkezés</h2>
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" required>
        </div>
  
        <div class="mb-3">
          <label for="password" class="form-label">Jelszó:</label>
          <input type="password" class="form-control" id="password" required>
        </div>
  
        <button type="submit" class="btn btn-outline-success">Bejelentkezés</button>
      </form>
      <div class="text-center mt-3">
        <a routerLink="/" class="btn btn-outline-secondary">Vissza a főoldalra</a>
      </div>
    </div>
  </div>
  